.highlights {
    margin: auto;
    position: relative;
}

.list-selector {
    padding: 0px 0 0 2px;
    margin: 1.5rem 0 0.8rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    overflow:auto;
    scrollbar-width: none;
}

#highlights-title {
    font-size: 1.4rem;
    padding-left: 0.5rem;
    margin: 0 0 1rem 0;
    font-weight: normal;
}

.highlights-slider {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(10, 85%);
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
}
.highlights-slider::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.highlights-desktop {
    position: relative;
    margin: 0;
    padding: 0;
    height: 30rem;
}
.highlights-desktop-item {
    position: absolute;
    margin: 0 0 1rem 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

#highlights-selected {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.highlight-box {
    object-fit: scale-down;
    max-width: var(--highlights-width);
    scroll-snap-align: center;
    margin: 0 0.5rem;
}

.highlight-header-wrapper {
    position: relative;
}

.highlight-header-image {
    width: 100%;
    height: 100%;
    margin-bottom: -3px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: wheat;
}

.highlight-header-placeholder {
    width: 100%;
    height: 100%;
    margin-bottom: -3px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.highlight-info {
    background-color: var(--medium-blue);
    background-image: var(--bg-gradient);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-height: 10rem;
}


.highlight-reviews {
    font-size: 1.3rem;
    margin: 0 0 0 0;
    cursor: default;
}

.highlight-tags{
    list-style: none;
    padding: 0.5rem 0 0 0;
    margin: 0.5rem 0 0 0;
    max-height: 5.5rem;
    overflow: hidden;
}

.highlight-tag {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--light-blue);
    background-color: var(--dark-blue);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 0.2rem 0 0;
    cursor: default;
}

.highlight-btn {
    /* Next Icon Svg - Width: 24px Height: 63 */
    --icon-height: 63px;
    position: absolute; 
    max-width: 30px;
    opacity: 70%;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    z-index: 2;
    border-radius: 0.5rem;
    padding: 0.4rem;
    cursor: pointer;
}

.highlight-btn:active {
    opacity: 100%;
}

.highlight-btn:hover {
    opacity: 90%;
    transition: opacity 0.1s linear;
}

#highlight-prev-btn {
    --icon-width: 24px;
    left: -40px;
    background-image: linear-gradient(to right, var(--medium-blue), rgba(0,0,0,0));
}

#highlight-next-btn{
    /* offset icon to left */
    --icon-width: 24px;
    right: -40px;
    background-image: linear-gradient(to left, var(--medium-blue), rgba(0,0,0,0));
}