.list-selector {
    /* font-size: 1.4rem; */
    /* background-color: cadetblue; */
    list-style: none;
    padding: 0px;
    margin: 1rem 0 0 0;
}

.list-selector-item {
    background-color:var(--dark-blue);
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1px solid var(--light-border-color);
    border-radius: 1rem;
}

.list-selector-item[data-selected='true'] {
    background-color: var(--medium-blue);
    border-color: var(--light-blue);
}

.applist {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    max-width: var(--max-width);
}

.applist-item {
    background-color:var(--dark-blue);
    margin: 0px 0px 0.5rem 0;
    border: 1px solid var(--light-border-color);
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    font-size: 0.8rem;
}

.item-left {
    float: left;
    width: 110px;
    margin: 0 1.4rem 0 0;
    object-fit: scale-down;
}

.item-header {
    width: 100%;
    margin: 1rem 2rem 0 0.5rem;
    /* border-radius: 0.5rem; */
}

.item-under-header {
    display: block;
    width: 100%;
    margin: 0.2rem 0 0 0.5rem;
    text-align: center;
}

.item-release-date {
    display: inline-block;
    opacity: 80%;
}

.item-reviews {
    margin-left: 1.6rem;
}

.item-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.7rem;
}

.title-wrapper {
    margin: 1rem 0 0.7rem 0;
}

.item-title {
    font-size: 1.2rem;
    display: inline;
}

.item-platforms {
    display: inline-block;
    margin-bottom: 0.6rem;
}

.item-tags {
    display: inline;
    color: var(--light-blue);
    opacity:80%;
}

.item-platform-icon {
    margin: 0 0.2rem;
    height: 12px;
    opacity: 40%;
}

.item-divider {
    background-color: white;
    border-color: rgb(255, 255, 255);
    padding: 0;
}
