/* MEDIA QUERIES */

/* MOBILE */
 @media screen and (max-width: 900px) {
    :root {
        --nav-padding: 0.5rem 0;
        --nav-font-size: 1.8rem;
        --website-icon-width: 25px;
        --website-icon-margin-top: 1px;
    }
}

/* DESKTOP */
@media (min-width: 900px) {
    :root {
        --nav-padding: 1rem;
        --nav-font-size: 2rem;
        --website-icon-width: 30px;
        --website-icon-margin-top: 0px;
    }
}

:root {
    --main-bg-color: hsl(210, 0%, 0%);
    --medium-grey:hsl(210, 40%, 30%);
    --very-dark-blue:hsl(210, 70%,10%);
    --dark-blue: hsl(210, 60%, 18%);
    --medium-blue: hsl(210, 60%, 25%);
    --light-blue: hsl(210, 40%, 80%);
    --link-color: hsl(210, 100%, 70%);
    --link-color-hover: hsl(210, 100%, 80%);
    --light-border-color: rgba(255, 255, 255, 0.15);
    --highlights-width: 460px;
    --positive-review-color: #118000;
    --mixed-review-color: #807300;
    --negative-review-color: #802d00;
    --bg-gradient: linear-gradient(to bottom right, hsla(210, 40%, 80%, 0.1), transparent);
    --menu-icon-width: 24px;
}

.center-ruler {
    position: fixed;
    border: 1px solid rgba(255, 0, 0, 0.425);
    left: 50%;
    height: 100%;
    z-index: 100;
}

.page-container {
    justify-content: center;
    max-width: 540px;
    margin: auto;
}

.limit-width {
    max-width: var(--highlights-width);
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.container > * {
    margin-bottom: 1rem;
}

.reviews {
    display: inline-block;
    border-radius: 0.3rem;
    padding: 2px;
    cursor: default;
}

.reviews[state="positive"] {
    background-color: var(--positive-review-color);
}
.reviews[state="mixed"] {
    background-color: var(--mixed-review-color);
}
.reviews[state="negative"] {
    background-color: var(--negative-review-color);
}
.reviews[state="N/A"] {
    background-color: rgb(167, 167, 167);
}

nav {
    font-size: var(--nav-font-size);
    background-image: linear-gradient(to left, transparent, var(--medium-grey),var(--medium-grey),var(--medium-grey), transparent);
    padding: var(--nav-padding);
    text-align: center;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: calc(-1 * (var(--menu-icon-width) + var(--website-icon-width)));
}

.nav-link:hover {
    text-decoration: none;
    color: white;
}

.menu-icon {
    margin: 0.5rem 0 0 1.4rem;
    float: left;
    width: var(--menu-icon-width);
    height: 100%;
    box-shadow: 0 1px 15px black;
    cursor: pointer;
}

.nav-title {
    font-size: var(--nav-font-size);
    display: inline;
}

.website-icon {
    position: absolute;
    margin-left: 2px;
    margin-top: var(--website-icon-margin-top);
    width: var(--website-icon-width);
}

.title-steam {
    font-weight: 600;
}

.title-scout {
    font-weight: normal;
}



.red-text {
    color: rgb(253, 85, 85);
}


/* ABOUT PAGE */
.about-page-title {
    font-size: 2rem;
}

.about-p {
    padding: 0;
    margin: 1rem 0 0 0;
}

.about-title {
    padding: 0;
    margin: 2.4rem 0 0 0;
}

.about-link {
    margin: 0 1rem;
}

.github-icon {
    max-width: 16px;
    margin: 0;
}

.about-footer-container {
    margin-bottom: 3rem;
}

.about-footer {
    font-size: 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.5rem 0 0.5rem 0;
    background-color: var(--dark-blue);
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: linear-gradient(to left, 
    transparent, 
    var(--very-dark-blue), 
    var(--very-dark-blue), 
    var(--very-dark-blue), 
    transparent)
}

.about-footer-ampersand {
    opacity: 85%;
}

/* MENU */
.menu-container {
    position: relative;
    font-size: 1.6rem;
    z-index: 10;
    margin: 0;
    justify-items: center;
}

.menu-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right,  
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.3)
    );
    
}

.menu-list {
    /* Remove navbar height for desktop */
    --navbar-height: 4.4rem;
    height: calc(100vh - var(--navbar-height));
    z-index: 10;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: hsla(210, 60%, 10%, 0.8);
    box-shadow: 25px 15px 30px 10px rgba(0, 0, 0, 0.8);
}


.menu-item {
    display: block;
    margin: 0;
    padding: 1rem 0;
    background-image: linear-gradient(to right,  
    transparent,
    rgba(0, 0, 0, 0.3), 
    transparent
    );
}

.menu-item:hover, .menu-item:focus {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.menu-item-divider {
    opacity: 100%;
    padding: 0;
    margin: 0;
    padding: 0.1rem 0;
    background-image: linear-gradient(to right,  
    rgba(255, 255, 255, 0.0), 
    rgba(255, 255, 255, 0.3), 
    rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.3), 
    rgba(255, 255, 255, 0.0)
    );
    border: none;
}

.menu-footer {
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}