/* MEDIA QUERIES */
/* @media screen and (max-width: 479px) {
}
@media (min-width: 480px) {
} */

:root {
    --main-bg-color: hsl(210, 33%, 11%);
    --navbar-color:hsl(210, 27%, 26%);
    --dark-blue:hsl(210, 64%, 16%);
    --medium-blue: hsl(201, 64%, 31%);
    --light-blue:#b2daf0;
    --light-border-color: rgba(255, 255, 255, 0.144);
    --max-width: 460px;
    --positive-review-color: #138900;
    --mixed-review-color: #897B00;
    --negative-review-color: #893100;
}

.page-container {
    justify-content: center;
    max-width: 540px;
    margin: auto;
}

.limit-width {
    max-width: var(--max-width);
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.container > * {
    margin-bottom: 1rem;
}

.reviews {
    display: inline-block;
    border-radius: 0.3rem;
    padding: 2px;
    cursor: default;
}

.reviews[state="positive"] {
    background-color: var(--positive-review-color);
}
.reviews[state="mixed"] {
    background-color: var(--mixed-review-color);
}
.reviews[state="negative"] {
    background-color: var(--negative-review-color);
}
.reviews[state="N/A"] {
    background-color: rgb(167, 167, 167);
}

.nav-item {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}
