/* MEDIA QUERIES */

/* MOBILE */
 @media screen and (max-width: 900px) {
    :root {
        --nav-padding: 0.5rem 0;
        --nav-font-size: 1.8rem;
        --website-icon-width: 25px;
        --website-icon-margin-top: 1px;
    }
}

/* DESKTOP */
@media (min-width: 900px) {
    :root {
        --nav-padding: 1rem;
        --nav-font-size: 2rem;
        --website-icon-width: 30px;
        --website-icon-margin-top: 0px;
    }
}

:root {
    --main-bg-color: hsl(210, 30%, 10%);
    --medium-grey:hsl(210, 30%, 30%);
    --dark-blue:hsl(210, 60%, 15%);
    --medium-blue: hsl(210, 50%, 25%);
    --light-blue:hsl(210, 40%, 80%);
    --light-border-color: rgba(255, 255, 255, 0.15);
    --highlights-width: 460px;
    --positive-review-color: #118000;
    --mixed-review-color: #807300;
    --negative-review-color: #802d00;
    --bg-gradient: linear-gradient(to bottom right, hsla(210, 40%, 80%, 0.1), transparent);
    --menu-icon-width: 24px;
}

.page-container {
    justify-content: center;
    max-width: 540px;
    margin: auto;
}

.limit-width {
    max-width: var(--highlights-width);
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.container > * {
    margin-bottom: 1rem;
}

.reviews {
    display: inline-block;
    border-radius: 0.3rem;
    padding: 2px;
    cursor: default;
}

.reviews[state="positive"] {
    background-color: var(--positive-review-color);
}
.reviews[state="mixed"] {
    background-color: var(--mixed-review-color);
}
.reviews[state="negative"] {
    background-color: var(--negative-review-color);
}
.reviews[state="N/A"] {
    background-color: rgb(167, 167, 167);
}

nav {
    font-size: var(--nav-font-size);
    /* background-color: var(--medium-grey); */
    background-image: linear-gradient(to left, transparent, var(--medium-grey),var(--medium-grey),var(--medium-grey), transparent);
    padding: var(--nav-padding);
    text-align: center;
    align-items: center;
}

.nav-title {
    color: white;
    text-decoration: none;
    margin-left: calc(-1 * (var(--menu-icon-width) + var(--website-icon-width)));
}

.menu-icon {
    margin: 0.5rem 0 0 1.4rem;
    float: left;
    width: var(--menu-icon-width);
    height: 100%;
    box-shadow: 0 1px 15px black;
    cursor: pointer;
}

.title-steam {
    font-weight: 600;
}

.title-scout {
    font-weight: normal;
}

.website-icon {
    position: absolute;
    margin-left: 2px;
    margin-top: var(--website-icon-margin-top);
    width: var(--website-icon-width);
}
